*
{
	--light: rgb(245,245,245);
	--dark: #333;
	--green: forestgreen;
}

body
{
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 1.3rem;
	background: var(--light);
}

a
{
	text-decoration: none;
	color: var(--green);
}

#header
{
	position: relative;
	color: var(--light);
	margin: 0;
	width: 100vw;
	min-height: 14vw;
	/*background: #ccc;*/
	text-align: center;
	margin: auto;
	padding-top: 20px;
	border-bottom: 2px solid #444;
}

#header a
{
	color: var(--light);
}

#head-bg
{
	position: absolute;
	background-image: url("img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	z-index: -2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#head-gradient
{
	position: absolute;
	background: linear-gradient(rgba(0,0,0,0.4), black); /*  top black almost transparent -> bottom black */
	opacity: 0.4;

	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#navigation
{
	display: flex;
	margin: auto;
	width: 100px 0px;
	height: 70px;
	justify-content: center;
	align-items: center;
}

#navigation .button
{
	width: 7rem;
	font-weight: bold;
	font-size: 1.4rem;
	color: white;
	padding: 5px 0px;
	margin: auto 20px;
}

#navigation .button:hover
{
	background: rgba(256,256,256,0.25);
}

#navigation .button:active
{
	background: rgba(256,256,256,0.15);
}

#title
{
	margin: 60px auto;
	line-height: 20px;
}

#title h1
{
	font-size: 4rem;
	font-weight: bold;
}

#title h2
{
	font-size: 1.9rem;
	font-weight: bold;
}

#description
{
	font-size: 1.2rem;
	line-height: 10px;
	margin: 20px auto;
	padding: 0 10px;
}

#gradient
{
	position: absolute;
	width: 100vw;
	height: 10vw;
	bottom: -10vw;

	z-index: -1;
	background: linear-gradient(black, rgba(256,256,256,0.8));
	opacity: 0.05;
}










#grid
{
	display: flex;
	/*grid-template-columns: 300px minmax(600px, 2000px);*/
	margin: 3vw auto;
	width: 80%;
}

#sidebar
{
	width: 300px;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	margin-right: 50px;
}

#sidebar .button
{
	/*color: var(--green);*/
	padding: 10px;
	font-size: 1.3rem;
	width: 220px;
	/*margin: 0;*/
	/*margin-right: 3vw;*/
	text-align: right;
}

#sidebar .button:hover
{
	background: rgb(225,225,225);
}

#sidebar .button:active
{
	background: rgb(210,210,210);
}

#sidebar .button.selected
{
	background: var(--dark);
	color: var(--light);
}




#gallery
{
	max-width: 2000px;
}

#gallery h2
{
	margin-top: 5px;
}

.intro
{
	max-width: 960px;
}

.flexbox
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 50px;
	/*margin-left: -20px;*/

	/*padding: 0 30px;*/
	/*width: 95%;*/
}

.flexbox .box
{
	padding: 20px 20px;
}

.flexbox .box:hover
{
	background-color: rgb(230,230,230);
	border: 1px solid rgb(205,205,205);
	padding: 19px 19px;
	box-sizing: border-box;

	/*color: #6b9131;*/
	text-decoration: underline;
}

.flexbox .box:active
{
	background-color: rgb(220,220,220);
}

.flexbox img
{
	width: 180px;
	height: 180px;
	object-fit: cover;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.flexbox .caption
{
	text-align: center;
	margin: 5px auto;
}

.flexbox .dummy
{
	display: none;
}





.previewpanel
{
	position: relative;
	display: grid;
	display: none;
	grid-template-columns: 450px 1fr;

	background: #333;
	width: 90%;
	height: 400px;
	color: var(--light);
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.previewpanel img
{
	width: 400px;
	height: 400px;
	object-fit: contain;
	background: rgb(250,250,250);
}

.previewpanel .plantinfo
{
	max-width: 800px;
}

.previewpanel .close
{
	position: absolute;
	top: 20px;
	right: 0;
	width: 100px;
	height: 40px;
	text-align: left;
}


.previewpanel a
{
	color: #67ba1a;
}








#footer
{
	margin: auto;
	background: var(--dark);
	color: var(--light);
	min-height: 250px;
	border-top: 3px solid black;
}

.main
{
	width: 960px;
	padding-top: 10px;
	margin-left: calc(10vw + 300px);
}




@media screen and (max-width: 1500px)
{
	#grid
	{
		grid-template-columns: 200px 1fr;
	}

	#sidebar
	{
		width: 150px;
		font-size: 1rem;
		margin-left: 30px;
		margin-right: 30px;
	}

	#gallery img
	{
		width: 150px;
		height: 150px;
	}

	#footer .main
	{
		margin-left: 330px;
	}
}

@media screen and (max-width: 960px)
{
	#header h1
	{
		line-height: 4rem;
	}

	
	#header h2, p
	{
		line-height: 1.5rem;
	}

	#grid
	{
		grid-template-columns: 1fr;
		margin-left: 0;
		margin-right: 0;
	}

	.intro
	{
		margin-left: 30px;
		margin-right: 30px;
	}

	#sidebar
	{
		width: 200px;
		font-size: 1.3rem;
		margin: auto;
		align-items: center;
	}

	#sidebar .button
	{
		text-align: center;
		margin: auto;
	}

	.flexbox
	{
		justify-content: center;
		margin: auto;
	}

	#gallery img
	{
		width: 150px;
		height: 150px;
	}

	#footer .main
	{
		width: 95%;
		margin-left: 30px;
	}
}